/* brown grass rgb 215	160	37	
pink cloud rgb 186	71	137
dark purple rgb (77	19	58)
peach sky rgb (255	94	85)
lighter blue (0	187	188)
almost white blue (175	233	234)	
beige start screen (241	226	200)
brown (86	51	39) 
red (174	24	42	)
green (105	137	36)*/

html {
    background-image: linear-gradient(to right, rgb(106 139 39),rgb(241 226 200));
}

body
{
    font-family: Optima, Sans-Serif;
}


h1 {
    color: rgb(241	226	200);
    /* -webkit-text-stroke: 1px black; */
    text-shadow: 3px 3px rgb(86	51	39	);
    text-align: center;
    margin-bottom: 0;
}

button {
    background-color: rgb(105	137	36);
    width: 200px;
    height: 40px;
    padding: 20 40;
    margin: 0 auto;
    border: 1px solid rgb(113	87	74	);
}

#game-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#game-intro p {
    background-image: url("img/message-frame.png");
    background-repeat: no-repeat;
    height: 470px;
    background-position: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

#game-intro a {
    color: rgb(174	24	42	);
    text-decoration: none;
}

#start-button {
    background-color: rgb(241	226	200);
}

#game-over {
    background-image: url("img/bg-with-message.png");
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    text-align: center;
}

#game-over p {
    padding-top: 200px;
}
